.btn-post{
    background-color: rgb(42, 38, 49);
    color: white;
    font-size: 18;
    font-weight: 600;
}
.btn-post:hover{
    background-color: rgb(42, 38, 49);
    color: white;
    font-size: 18;
    font-weight: 600;
}